{% extends "display/base.html" %}
{% block content %}
<h2 class="f2 lh-copy">Banner bearbeiten</h2>
    <h3 class="f3 ">Aktuelles Bild:</h3>
    <style>
    .banneredit > div {
        padding-top: 0.35rem;
        padding-bottom: 0.35rem;
    }
    .banneredit label {
        display: block;
        font-weight: bold;
    }
    .banneredit input {
        width: 30rem;
        padding: 0.25rem;
    }
    .helptext {
        color: rgba(0,0,0,0.6); /* black-60 */
        line-height: 1.5; /* lh-copy */

    }
    .errorlist {
        list-style: none;
        padding: 0.5rem 0 0.5rem 0;
        background: #ffbaba;
    }
    .errorlist li {
        padding: 0.2rem;
    }
    </style>

<div class="pa2">
    <img src="{{ banner.image.url }}" alt="{{ banner.title }}" class="shadow-2 mw5">
</div>

    <h3 class="f3 lh-copy">Daten bearbeiten:</h3>

<form method="post" class="mb3 banneredit">

    {{ form.as_div }}
    <input type="submit" value="Speichern">
    {% csrf_token %}
</form>

<a href="{% url 'wartungsklappe' %}" class="link hover-light-blue">Zurück</a>

{% endblock %}