
{% extends "display/base.html" %}
{% block content %}

<ul class="list">
    <li class="lh-copy pv2 ph0"><a class=""  href="{% url "wartungsklappe" %}">Wartungsklappe öffnen. Anmelden mit @froemern.org Google-Account. Nicht erschrecken. Sieht noch etwas wild aus.</a></li>
    <li class="lh-copy pv2 ph0">
        Prachvolle Displays bewundern:
        <ul>
            {% for display in displays %}
                <li class="lh-copy pv2 ph0"><a class=""  href="{% url "slideshow_for_display" display.name%}?kontrolle=istbesser">{{ display.name}} ({{ display.title }})</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="lh-copy pv2 ph0"><a class=""  href="https://github.com/rincewind/kioskbackend/issues">Wünsche, Nöte, Kritik bitte hier abwerfen.</a></li>
    <li class="lh-copy pv2 ph0"><a class="" href="https://github.com/rincewind/kioskbackend">Gabel mich beim GitHub! Falls jemand mitbasteln möchte.</a></li>
</ul>

{% endblock %}