{% extends "display/base.html" %}

{% load static %}
{% block content %}

{% load thumbnail %}

{% if request.user.is_staff %}

<h1 class="f1 lh-title">Unter der Haube des mächtigen Info-Displays im Dorfgemeinschaftshaus!</h1>


    <h3 class="f3 lh-copy">Neue Banner hochladen:</h3>
<div class="">Maximal 5 MB je Bild bitte. Einfach hier abwerfen reicht. Profis bearbeiten nachher noch die Details.</div>
<form action="{% url "wartungsklappe" %}" method="post" enctype="multipart/form-data" class="dropzone" id="banner">
    {% csrf_token %}
    <!-- input type="submit" value="Verbannern" -->
</form>

<script>
  Dropzone.options.banner = { // camelized version of the `id`
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 5, // MB
      acceptedFiles: 'image/*',
      capture: "camera"
  };
</script>

<h3 class="f3 lh-copy">Banner bearbeiten:</h3>
    <ul class="list pa0">
    {% for b in banner %}
        {% thumbnail b.image "100x100" crop="center" as im %}
        <li>
            <a class="link dt w-100 bb b--black-05 pb2 mt2" href="{% url "banneredit" b.pk %}">
                    <div class="dtc w2 w3-ns v-mid">
                                    <img src="{{ im.url }}" alt="{{  b.title}}">
                    </div>
                    <div class="dtc v-mid pl3">
                        {{ b.title }}
                    </div>
            </a></li>
        {% endthumbnail %}
    {% endfor %}
    </ul>


{% if new_calendars %}
<h3 class="f3 lh-copy">Kalender verknüpfen:</h3>
<form action="{% url 'wartungsklappe' %}" method="post">
{% csrf_token %}
<ul class="list pa0">
    {% for cid, summary in new_calendars %}
        <li class="flex items-center mb2"><input class="mr2" type="radio" value="{{ cid }}" id="new_{{ cid }}" name="connect_calendar"><label class="lh-copy" for="new_{{ cid }}">{{ summary }}</label></li>
    {% endfor %}
</ul>
<input type="submit" value="Kalender verknüpfen" name="connect">
</form>
{% endif %}
{% if connected_calendars %}
<h3 class="f3 lh-copy">Verknüpfung aufheben:</h3>
<form action="{% url 'wartungsklappe' %}" method="post">
{% csrf_token %}

<ul class="list pa0">
    {% for cid, cal in connected_calendars %}
        <li class="flex items-center mb2"><input  class="mr2" type="radio" value="{{ cid }}" id="connected_{{ cid }}" name="disconnect_calendar"><label for="connected_{{ cid }}" class="lh-copy">{{ cal.summary }} [{{ cal.user }}]</label></li>
    {% endfor %}
</ul>
<input type="submit" value="Verknüpfung aufheben" name="disconnect">
</form>
{% endif %}
<h3 class="f3 lh-copy">Cache löschen:</h3>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Nuke! 💥" name="nuke">
</form>
    <p class="lh-copy">
    Änderungen werden erst nach gewisser Zeit sichtbar. Mit diesem Knopf, werden Änderungen schneller übernommen. Beim echten Display dauert es trotzdem ein paar Minuten, bis es sich ändert.
    </p>

<h3 class="f3 lh-copy ">Erklärungen:</h3>
    <div class="bg-black-10 pa2">
    <p class="lh-copy">
        Alle angeknüpften Kalender sind gleichberechtigt. Alle Kalender-Ereignisse werden zusammengemischt.
    </p>
    <p class="lh-copy">
        Kalender-Ereignisse mit ⏰ werden bei "Ausblick" angezeigt. Für besonders wichtige Großereignisse, die schon lange im Voraus angekündigt werden sollen.
    </p>
    <p class="lh-copy">
        Kalender-Ereignisse mit 🚸 sind Ereignisse der Jugend. Derzeit ändert das nur die Schriftart.
    </p>
    <p class="lh-copy">
        Das nächste Kalender-Ereigniss mit 🎉 ist ein ganz ganz ganz besonderes Ereigniss, für welches der "Noch...bis" Bildschirm angezeigt wird.
    </p>
    </div>


<h3 class="f3 lh-copy ">Vorschau:</h3>
    <iframe src="{% url "slideshow" %}" style="aspect-ratio: 16/9; width: 90%;">

    </iframe>



    {% else %}
    <p class="lh-copy">Nee. Du bist leider (noch?) nicht würdig. Melde Dich bei einer Aufsichtsperson, dass diese sich doch bitte an Peter wenden soll mit der Bitte
    <span class="b f4">{{ request.user }}</span>
    zu benedeien.</p>
{% endif %}

{% endblock %}
